.panel-primary h3 small {
  color:#fff;
}

h3 small{
  font-size: 75%;
}
.panel-heading {
  padding: 5px 15px;
}

.widget-tool{
  float:right;
}

span.badge{
  margin-left: 10px;
  font-size:20px;
}

.panel-heading p{
  margin: 0px;
}