.router_geo_map
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          %h3 
            %i.fa.fa-map.fa-fw
            Geo Map 
            %small Show routers on the map
            %span.badge.badge-info
        .panel-body
          .geo_map
