.router_geo_map
  .row
    .col-12
      .card.border-primary
        .card-header.bg-primary
          %h5.card-title.text-white
            %i.fa.fa-map.fa-fw
            Geo Map 
            %small Show routers on the map
            %span.badge.bg-white.rounded-pill.text-primary.fs-6.ms-1
        .card-body
          .geo_map
