.row.bw_planning
  .col-xs-12
    .widget
      .widget-header
        %h4 
          %i.fa.fa-search.fa-fw
          Search Criteria
      .widget-body
          %form.form-horizontal.bw_planning_form
            .row
              .col-xs-6
                .form-group
                  .new_time_selector#new_time_selector
              .col-xs-6
                .form-group
                   %label.control-label.col-xs-2 Maxitems
                  .col-xs-4
                    %input#show_intf_toppers{type:"text",value:1000}
              
              .col-xs-12
                %small.col-md-offset-2 Select router interfaces from the left side to generate usage reports
                .form-group.
                  %label.control-label.col-xs-2 Interfaces
                  .col-xs-4
                    %select#select_interface_keys_left{multiple:true,size:10,class:"form-control",style:"height:auto;font-size:10px;overflow-x:scroll"}
                  .col-xs-1
                    %button#js_right_all.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-forward
                    %button#js_right_selected.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-chevron-right
                    %button#js_left_selected.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-chevron-left
                    %button#js_left_all.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-backward
                  .col-xs-4
                     %select#select_interface_keys_right{multiple:true,size:10,class:"form-control",style:"height:auto;font-size:10px;overflow-x:scroll"}
            .row
              .col-xs-10.col-md-offset-4{style:"padding-top:10px"}
                %input#from_date{type:"hidden",name:"from_date"}
                %input#to_date{type:"hidden",name:"to_date"}
                %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Submit"}

.bw_planning_data
  .row
    .col-xs-12
      #bcp_progress_bar
      .panel.panel-primary.add_download_btn
        .panel-heading
          %h3
            Bandwidth Capacity Planning
            %small.duration

        .panel-body
          %table.table.table-sysdata#table_bw_planning
            %thead
              %tr
                %th Ifindex
                %th Router
                %th Name/Alias
                %th{sort:"volume"} In
                %th{sort:"volume"} In Avg
                %th{sort:"volume"} Out
                %th{sort:"volume"} Out Avg
                %th{sort:"volume"} IFSpeed
                %th.nosort.nocsv
            %tbody
          

          .col-xs-3
            %table.table.table-bordered
              %tbody
                %tr 
                  %td 1000 MB
                  %td 1GB
                %tr
                  %td 1 Minute
                  %td 60 Seconds