.row.bw_planning
  .col-12
    .card.border-primary
      .card-header.bg-primary.d-flex.justify-content-between.align-items-center.border-bottom-0
        %h5.card-title.text-light
          %i.fa.fa-search.fa-fw
          Search Criteria
      .card-body
          %form.form-dots.bw_planning_form
            .row.mb-2
              .col-6
                .new_time_selector#new_time_selector
              .col-6
                .row
                  %label.col-form-label.col-4 Maxitems
                  .col-8
                    %input#show_intf_toppers{type:"text",value:1000}
              
              .col-12
                %small.col-md-offset-2 Select router interfaces from the left side to generate usage reports
                .row
                  %label.col-form-label.col-2 Interfaces
                  .col-4
                    %select#select_interface_keys_left{multiple:true,size:10,class:"form-control",style:"height:auto;font-size:10px;overflow-x:scroll"}
                  .col-1
                    %button#js_right_all.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-forward
                    %button#js_right_selected.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-chevron-right
                    %button#js_left_selected.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-chevron-left
                    %button#js_left_all.btn.btn-block{style:"width:auto;"}
                      %i.fa.fa-backward
                  .col-4
                     %select#select_interface_keys_right{multiple:true,size:10,class:"form-control",style:"height:auto;font-size:10px;overflow-x:scroll"}
            .row.justify-content-center.mt-3
              .col-4
                %input#from_date{type:"hidden",name:"from_date"}
                %input#to_date{type:"hidden",name:"to_date"}
                %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Submit"}

.bw_planning_data
  .row.mt-3
    .col-12
      #bcp_progress_bar
      .card.border-info.add_download_btn
        .card-header.bg-info
          %h5.card-title.text-white
            Bandwidth Capacity Planning
            %small.duration

        .card-body
          %table.table.table-sysdata#table_bw_planning
            %thead
              %tr
                %th Ifindex
                %th Router
                %th Name/Alias
                %th{sort:"volume"} In
                %th{sort:"volume"} In Avg
                %th{sort:"volume"} Out
                %th{sort:"volume"} Out Avg
                %th{sort:"volume"} IFSpeed
                %th.nosort.nocsv
            %tbody
          

          .col-3
            %table.table.table-bordered
              %tbody
                %tr 
                  %td 1000 MB
                  %td 1GB
                %tr
                  %td 1 Minute
                  %td 60 Seconds