.row.prefix_external_analytics_form
  .col-12
    .card
      .card-header
        %h5.card-title
          %i.fa.fa-filter.fa-fw
          Filter criteria
      .card-body
        %form.form-dots
          .row
            .col-6
              .row
                .new_time_selector#new_time_selector
          .row
            .col-6
              .row 
                %label.col-form-label.col-4 Select a router         
                .col-8 
                  %select.form-select#routers{name:'routers'} 
            .col-6
              .row 
                %label.col-form-label.col-4 Select an interface 
                .col-8 
                  %select.form-select#interfaces{name:'interfaces'}
          .row.justify-content-center.mt-3
            .col-auto
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Submit"}


.ui_data.mt-3
  .row
    .col-12
      %ul.nav.nav-tabs#isp_prefix_external_overview_tabs.tab-card
        %li.nav-item
          %a.nav-link.active{data-bs-target:"#prefix_external_overview_0",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-upload.fa-fw
            Receive from Upstream
            %span.volume_0
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_external_overview_1",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-download.fa-fw
            Transmit to Upstream
            %span.volume_1
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_external_overview_2",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-download.fa-fw
            Receive from Downstream
            %span.volume_2
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_external_overview_3",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-download.fa-fw
            Transmit to Downstream
            %span.volume_3                        
      .tab-content.mt-3
        .tab-pane.active#prefix_external_overview_0{data-use-width:1}.add_download_btn
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-primary.add_download_btn
                .card-header.bg-primary.d-flex.justify-content-between.align-items-center
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top prefixes to which you are UPLOADING data &nbsp; 
                      %span.badge.bg-white.text-primary.rounded-pill.fs-6.ms-1
                  .col-auto.card-options.d-flex.gap-2.justify-content-center
                  .row
                    %small.text-light.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                  .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-primary
                .card-header.bg-primary
                  %h5.card-title.text-white
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart showing traffic history of top prefixes   
                  %p
                    %small.text-light.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-primary
                .card-header.bg-primary
                  %h5.card-title.text-white
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of prefixes upload traffic 
                  %p
                    %small.text-light.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary
                  %h5.card-title.text-white 
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                
                  .row
                    %small.text-light
                      Shows upload traffic flows from the left side (External Prefixes) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background
        .tab-pane#prefix_external_overview_1{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-primary
                .card-header.bg-primary.d-flex.justify-content-between.align-items-center
                  .col-auto.me-auto
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top prefixes from which you are DOWNLOAD-ing data
                      %span.badge.bg-white.text-success.rounded-pill.fs-6.ms-1
                  .col-auto.card-options.d-flex.gap-2.justify-content-end
                  .row
                    %small.text-light.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-primary
                .card-header.bg-primary
                  %h5.card-title.text-white
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small.text-light Showing top prefixes download traffic over the selected time period 
                  .row
                    %small.text-light.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-primary
                .card-header.bg-primary
                  %h5.card-title.text-white
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of prefixes download traffic 
                  .rpw
                    %small.text-light.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary
                  %h5.card-title.text-white
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                  .row
                    %small.text-light
                      Shows download traffic flows from the left side (External Prefixes) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background
        .tab-pane#prefix_external_overview_2{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.d-flex.justify-content-between.align-items-center
                  .col-auto.me-auto
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top prefixes from which you are UPLOADING-ing data
                      %span.badge.bg-white.text-success.rounded-pill.fs-6.ms-1
                  .col-auto.card-options.d-flex.gap-2.justify-content-center
                  .row
                    %small.text-light.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h5.card-title.text-white
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small.text-light Showing top prefixes download traffic over the selected time period 
                  .row
                    %small.text-light.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h5.card-title.text-white
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of prefixes download traffic 
                  .row
                    %small.text-light.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h5.card-title.text-white
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small.text-light
                      Shows download traffic flows from the left side (External Prefixes) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background
        .tab-pane#prefix_external_overview_3{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.d-flex.justify-content-between.align-items-center
                  .col-auto.me-auto
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top prefixes from which you are DOWNLOAD-ing data
                      %span.badge.bg-white.text-success.rounded-pill.fs-6.ms-1
                  .col-auto.card-options.d-flex.gap-2.justify-content-end

                  .row
                    %small.text-light.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h5.card-title.text-white
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small.text-light Showing top prefixes download traffic over the selected time period 
                  .row
                    %small.text-light.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h5.card-title.text-white
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of prefixes download traffic 
                  .row
                    %small.text-light.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h5.card-title.text-white
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small.text-light
                      Shows download traffic flows from the left side (External Prefixes) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background

