.toppers_table_div,.donut_chart_div,.traffic_chart_div,.sankey_chart_div
{
  border:2px solid #eee;
  box-shadow: 1px 1px #eee;
  min-height: 300px;
}
.ui_data{
  background-color: #eee;
}
.toppers_table_div,.donut_chart_div{
  min-height: 500px;
}

.panel h3 {
	font-size: 20px;
	margin-top:10px;
}

h3 small{
	font-size: 75%;
}
.panel-heading {
	padding: 5px 15px;
}

