.drilldown_data_form
  .widget
    .widget-header
      %h4
        %i.fa.fa-search
         Search Criteria
    .widget-body
        %form.form-horizontal.drilldown_asn_form
          .row
            .col-xs-6
              .form-group
                .new_time_selector#new_time_selector
            .col-xs-6
              .from-group
                 %label.control-label.col-xs-4 ASNumber         
                .col-xs-8 
                  %input{type:"text",class:"form-control",id:"drilldown_asn",style:"width:300px"}
          .row
            .col-xs-10.col-md-offset-4{style:"padding-top:10px"}
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Drilldown"}
              
.drilldown_data
  .row
    .col-xs-12
      %h4.show_description.text-muted
      %ul.nav.nav-tabs#peering_drilldown_tabs
        %li.active
          %a{href:"#peering_drilldown_0",data-toggle:"tab",role:"tab"}
            %i.fa.fa-cloud-upload.fa-fw
            %i.fa.fa-upload.fa-fw
            Recv from Upstream
            %span.volume_0
        %li
          %a{href:"#peering_drilldown_1",data-toggle:"tab",role:"tab"}
            %i.fa.fa-cloud-download.fa-fw
            %i.fa.fa-download.fa-fw
            Trans to Upstream
            %span.volume_1
        %li
          %a{href:"#peering_drilldown_2",data-toggle:"tab",role:"tab"} 
            %i.fa.fa-cloud-download.fa-fw
            %i.fa.fa-download.fa-fw
            Recv from Downstream
            %span.volume_2
         
        %li
          %a{href:"#peering_drilldown_3",data-toggle:"tab",role:"tab"} 
            %i.fa.fa-cloud-download.fa-fw
            %i.fa.fa-download.fa-fw
            Trans to Downstream
            %span.volume_3
        %li
          %a{href:"#peering_drilldown_agg",data-toggle:"tab",role:"tab"}
            %i.fa.fa-table.fa-fw
            Prefixes and Hosts
      .tab-content{style:"padding-top:10px"}
        .tab-pane.active#peering_drilldown_0{data-use-width:1}
          .row
            .col-xs-12
              .panel.panel-primary.add_download_btn
                .panel-heading
                  %h3
                    %i.fa.fa-table.fa-fw
                    Top Upstream Interface Receive
                    %small
                      Show top  interfaces by receive
                .panel-body
                  .toppers_table.animated-background 
                    %table
                      %thead
                      %tbody
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-pie-chart.fa-fw
                    Percent share of interfaces receive traffic
                .panel-body
                  .donut_chart.animated-background 
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-area-chart.fa-fw
                    Stacked area chart
                    %small
                      Showing top interfaces receive traffic over the selected time period
                .panel-body
                  .interfaces_traffic_chart
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-random.fa-fw
                    Sankey Chart
                    %small
                      Shows receive traffic flows from the left side (AS) to the right (Interfaces). Thickness represents volume of traffic. Put your mouse over a node to show actual values.
                .panel-body
                  .interfaces_sankey_chart



        .tab-pane#peering_drilldown_1{data-use-width:1}
          .row
            .col-xs-12
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-table.fa-fw
                    Top Upstream Interface Transmit
                    %small
                      Show top  interfaces which uploading data
                .panel-body
                  .toppers_table.animated-background 
                    %table
                      %thead
                      %tbody
            .col-xs-12
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-pie-chart.fa-fw
                    Percent share of interfaces download traffic

                .panel-body
                  .donut_chart.animated-background 
            .col-xs-12
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-area-chart.fa-fw
                    Stacked area chart
                    %small
                      Showing top interfaces download traffic over the selected time period
                .panel-body
                  .interfaces_traffic_chart
            .col-xs-12
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-random.fa-fw
                    Sankey Chart
                    %small
                      Shows download traffic flows from the left side (AS) to the right (Interfaces). Thickness represents volume of traffic. Put your mouse over a node to show actual values.
                .panel-body
                  .interfaces_sankey_chart

        .tab-pane#peering_drilldown_2{data-use-width:1}
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-table.fa-fw
                    Top Downstream Interface Receive
                    %small
                      Show top interfaces by receive
                .panel-body
                  .toppers_table.animated-background 
                    %table
                      %thead
                      %tbody
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-pie-chart.fa-fw
                    Percent share of interfaces receive traffic
                .panel-body
                  .donut_chart.animated-background 
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-area-chart.fa-fw
                    Stacked area chart
                    %small
                      Showing top interfaces receive traffic over the selected time period
                .panel-body
                  .interfaces_traffic_chart
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-random.fa-fw
                    Sankey Chart
                    %small
                      Shows receive traffic flows from the left side (AS) to the right (Interfaces). Thickness represents volume of traffic. Put your mouse over a node to show actual values.
                .panel-body
                  .interfaces_sankey_chart
        .tab-pane#peering_drilldown_3{data-use-width:1}
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-table.fa-fw
                    Top Downstream Interface Transmit
                    %small
                      Show top  interfaces by receive
                .panel-body
                  .toppers_table.animated-background 
                    %table
                      %thead
                      %tbody
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-pie-chart.fa-fw
                    Percent share of interfaces receive traffic
                .panel-body
                  .donut_chart.animated-background 
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-area-chart.fa-fw
                    Stacked area chart
                    %small
                      Showing top interfaces receive traffic over the selected time period
                .panel-body
                  .interfaces_traffic_chart
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-random.fa-fw
                    Sankey Chart
                    %small
                      Shows receive traffic flows from the left side (AS) to the right (Interfaces). Thickness represents volume of traffic. Put your mouse over a node to show actual values.
                .panel-body
                  .interfaces_sankey_chart

        .tab-pane#peering_drilldown_agg{data-use-width:1}
            .row
              .col-xs-6
                .panel.panel-success
                  .panel-heading
                    %h3
                      %i.fa.fa-table.fa-fw
                      Top ASNumbers
                  .panel-body
                    .tag_asnumber.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
              .col-xs-6
                .panel.panel-success
                  .panel-heading
                    %h3
                      %i.fa.fa-table.fa-fw
                      Top Prefixes
                  .panel-body
                    .tag_prefixes.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
            .row
              .col-xs-6
                .panel.panel-success
                  .panel-heading
                    %h3
                      %i.fa.fa-table.fa-fw
                      Top Internal Hosts
                  .panel-body
                    .internal_ip.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
              .col-xs-6
                .panel.panel-success
                  .panel-heading
                    %h3
                      %i.fa.fa-table.fa-fw
                      Top External Hosts
                  .panel-body
                    .external_ip.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody


