.drilldown_data
  .panel
    .panel-body
        %form.form-horizontal.drilldown_prefix_form
          .row
            .col-xs-6
              .from-group
                 %label.control-label.col-xs-4 Prefix         
                .col-xs-8 
                  %input{type:"text",class:"form-control",id:"drilldown_prefix",style:"width:300px"}
            .col-xs-6
              .form-group
                .new_time_selector#new_time_selector
          .row
            .col-xs-10.col-md-offset-4{style:"padding-top:10px"}
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Drilldown"}

  .row
    .col-xs-12
      %h4.show_description.text-muted
      %ul.nav.nav-tabs#prefix_drilldown_tabs
        %li.active
          %a{href:"#prefix_drilldown_upload",data-toggle:"tab",role:"tab"}
            %i.fa.fa-upload.fa-fw
            Upload
            %span.upload_volume
        %li
          %a{href:"#prefix_drilldown_download",data-toggle:"tab",role:"tab"}
            %i.fa.fa-download.fa-fw
            Download
            %span.download_volume
       
      .tab-content{style:"padding-top:10px"}
        .tab-pane.active#prefix_drilldown_upload{data-use-width:1}
          .row
            .col-xs-6
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-table.fa-fw
                    Interface Toppers
                .panel-body
                  .toppers_table.animated-background 
                    %table
                      %thead
                      %tbody
            .col-xs-6
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-pie-chart.fa-fw
                    Toppers Chart
                .panel-body
                  .donut_chart.animated-background 
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-area-chart.fa-fw
                    Traffic chart for interfaces
                .panel-body
                  .interfaces_traffic_chart
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  %h3
                    %i.fa.fa-random.fa-fw
                    Interfaces Sankey Chart
                .panel-body
                  .interfaces_sankey_chart



        .tab-pane#prefix_drilldown_download{data-use-width:1}
          .row
            .col-xs-6
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-table.fa-fw
                    Interface Toppers
                .panel-body
                  .toppers_table.animated-background 
                    %table
                      %thead
                      %tbody
            .col-xs-6
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-pie-chart.fa-fw
                    Toppers Chart
                .panel-body
                  .donut_chart.animated-background 
            .col-xs-12
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-area-chart.fa-fw
                    Traffic chart for interfaces
                .panel-body
                  .interfaces_traffic_chart
            .col-xs-12
              .panel.panel-success
                .panel-heading
                  %h3
                    %i.fa.fa-random.fa-fw
                    Interfaces Sankey Chart
                .panel-body
                  .interfaces_sankey_chart

