.drilldown_data_form
  .card
    .card-header
      %h4
        %i.fa.fa-search
         Search Criteria
    .card-body.form-dots
        %form.drilldown_prefix_form
          .row
            .col-6
              .row
                .new_time_selector#new_time_selector
            .col-6
              .row
                 %label.col-form-label.col-4 Prefix         
                .col-8 
                  %input{type:"text",class:"form-control",id:"drilldown_prefix",style:"width:300px"}
          .row.justify-content-center.mt-3
            .col-auto
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Drilldown"}
              
.drilldown_data.mt-3
  .row
    .col-12
      %h4.target
      %ul.nav.nav-tabs#prefix_drilldown_tabs
        %li.nav-item
          %a.nav-link.active{data-bs-target:"#prefix_drilldown_0",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-cloud-upload.fa-fw
            %i.fa.fa-download.fa-fw
            Recv from Upstream
            %span.volume_0
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_drilldown_1",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-cloud-upload.fa-fw
            %i.fa.fa-upload.fa-fw
            Trans to Upstream
            %span.volume_1
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_drilldown_2",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-cloud-download.fa-fw
            %i.fa.fa-download.fa-fw
            Recv from Downstream
            %span.volume_2
         
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_drilldown_3",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-cloud-download.fa-fw
            %i.fa.fa-upload.fa-fw
            Trans to Downstream
            %span.volume_3
        %li.nav-item
          %a.nav-link{data-bs-target:"#prefix_drilldown_agg",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-table.fa-fw
            Prefixes and Hosts
      .tab-content{style:"padding-top:10px"}
        .tab-pane.active#prefix_drilldown_0{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-primary.add_download_btn
                .card-header.bg-primary.text-white.header_text
                  .row
                    .col-auto.me-auto
                      %h4
                        %i.fa.fa-table.fa-fw
                        Top Interfaces Prefix Receive
                        %small Show top 100 interfaces by Receive (Downloading from upstream) 
                      %span.badge.bg-white.text-primary.rounded-pill.ms-1.fs-6
                    .col-auto.card-options.d-flex.gap-2.justify-content-end
                  .row
                    %small.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                  .animated-background
            .row.mt-3
              .col-12.traffic_chart_div
                .card.border-primary
                  .card-header.bg-primary.text-white.header_text
                    %h4
                      %i.fa.fa-area-chart.fa-fw 
                      Stacked area chart  
                      %small Showing top Interface traffic receive from upstream over the selected time period 
                    .row
                      %small.target
                  .card-body
                    .traffic_chart
                    .animated-background
            .row.mt-3
              .col-12.donut_chart_div
                .card.border-primary
                  .card-header.bg-primary.text-white.header_text
                    %h4
                      %i.fa.fa-pie-chart.fa-fw 
                      Percent share of Interface traffic receive from upstream
                    .row
                      %small.target
                  .card-body
                    .donut_chart
                    .animated-background
            .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white.header_text
                  %h4
                    %i.fa.fa-random.fa-fw
                    Sankey Chart
                    %small
                      Shows receive traffic flows from the left side (Prefix) to the right (Interfaces). Thickness represents volume of traffic. Put your mouse over a node to show actual values.
                .card-body
                  .interfaces_sankey_chart
                  .animated-background


        .tab-pane#prefix_drilldown_1{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-primary
                .card-header.bg-primary.text-white.header_text
                  %h4
                    %i.fa.fa-table.fa-fw
                    Top Upstream Transmit  
                    %small Show top 100 Upstream Interace by Transmit (Upload to upstream)
                    %span.badge.bg-white.text-primary.rounded-pill.ms-1.fs-6
                  .row
                    %small.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white.header_text
                  %h4
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small Showing top interfaces upload to upstream traffic over the selected time period 
                  .row
                    %small.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white.header_text
                  %h4
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of interfaces upload traffic to upstream 
                  .row
                    %small.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white.header_text
                  %h4
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small
                      Shows download traffic flows from the left side (Prefix) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .interfaces_sankey_chart
                  .animated-background

        .tab-pane#prefix_drilldown_2{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-table.fa-fw
                    Top Interfaces receive from downstream  
                    %small Show top 100 interfaces receive from downstream (Receive form downstrem)
                    %span.badge.bg-white.text-success.rounded-pill.ms-1.fs-6
                  .row
                    %small.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small Showing top interfaces download from downstream traffic over the selected time period 
                  .row
                    %small.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of interfaces download traffic from downstream
                  .row
                    %small.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.success
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4 
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small
                      Shows download traffic flows from the left side (Prefix) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .interfaces_sankey_chart
                  .animated-background
        .tab-pane#prefix_drilldown_3{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-table.fa-fw
                    Top Interfaces transmit to downstream  
                    %small Show top 100 interfaces transmit to downstream 
                    %span.badge.bg-white.text-success.rounded-pill.ms-1.fs-6
                  .row
                    %small.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small Showing top interfaces transmit to downstream  traffic over the selected time period 
                  .row
                    %small.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of interfaces download transmit to downstream 
                  .row
                    %small.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.text-white.header_text
                  %h4
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small
                      Shows download traffic flows from the left side (Prefix) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .interfaces_sankey_chart
                  .animated-background

        .tab-pane#prefix_drilldown_agg{data-use-width:1}
            .row.mt-3
              .col-6
                .card.border-success
                  .card-header.bg-success.text-white.header_text
                    %h4
                      %i.fa.fa-table.fa-fw
                      Top ASNumbers
                  .card-body
                    .tag_asnumber.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
              .col-6
                .card.border-success
                  .card-header.bg-success.text-white.header_text
                    %h4
                      %i.fa.fa-table.fa-fw
                      Top Prefixes
                  .card-body
                    .tag_prefixes.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
            .row.mt-3
              .col-6
                .card.border-success
                  .card-header.bg-success.text-white.header_text
                    %h4
                      %i.fa.fa-table.fa-fw
                      Top Internal Hosts
                  .card-body
                    .internal_ip.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
              .col-6
                .card.border-success
                  .card-header.bg-success.text-white.header_text
                    %h4
                      %i.fa.fa-table.fa-fw
                      Top External Hosts
                  .card-body
                    .external_ip.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody


