-# HTML template for the app age 
.col-xs-2
  .panel.panel-stat3.bg-success
    %h2.m-top-none#flowas
      %a.count{href:"javascript:;;",data-url:"/newdash/index?dash_key_regex=gitPeeringAnalytics&valid_input=1&remove_ls_items=true"}
    %h5 Active AS
    %i.fa.fa-arrow-circle-o-up.fa-lg
    %span.m-left-xs Currently active AS
    %a.trends [trends]


.col-xs-2
  .panel-stat3.bg-danger
    %h2.m-top-none#internal_prefix
      %a.count{href:"javascript:;;",data-url:"/newdash/index?dash_key_regex=gitISPHomePrefixesAnalytics&valid_input=1&remove_ls_items=true"}
    %h5 Active Internal Prefixes
    %i.fa.fa-arrow-circle-o-up.fa-lg
    %span.m-left-xs Number of active prefixes (internal)
    %a.trends [trends]

.col-xs-2
  .panel-stat3.bg-danger
    %h2.m-top-none#external_prefix
      %a.count{href:"javascript:;;",data-url:"/newdash/index?dash_key_regex=gitISPExternalPrefixesAnalytics&valid_input=1&remove_ls_items=true"}
    %h5 Active External Prefixes
    %i.fa.fa-arrow-circle-o-up.fa-lg
    %span.m-left-xs Number of active prefixes (external)
    %a.trends [trends]gitISPExternalPrefixesAnalytics


.col-xs-2
  .panel-stat3.bg-primary
    %h2.m-top-none#aspath
      %a.count{href:"javascript:;;",data-url:"/newdash/index?dash_key_regex=gitPathAnalytics&valid_input=1&remove_ls_items=true"}
    %h5 Active Paths
    %i.fa.fa-arrow-circle-o-up.fa-lg
    %span.m-left-xs Active BGP AS Paths
    %a.trends [trends]

.col-xs-2
  .panel-stat3.bg-info
    %h2.m-top-none#routers
      %a.count{href:"javascript:;;",data-url:"/nflow/gen_drilldown?resolve_key=true"}  
    %h5 Routers
    %i.fa.fa-arrow-circle-o-up.fa-lg
    %span.m-left-xs ISP Gateways being monitored
    %a.trends [trends]


.col-xs-2
  .panel-stat3.bg-warning
    %h2.m-top-none#interfaces
      %a.count{href:"javascript:;;",data-url:"/nflow/gen_drilldown?resolve_key=true"} 
    %h5 Interfaces
    %i.fa.fa-arrow-circle-o-up.fa-lg
    %span.m-left-x Number of interfaces
    %a#trends [trends]
.row
  .col-xs-12
    .panel.panel-info
      .panel-heading
        %h3
          %i.fa.fa-upload.fa-fw 
          Upload to AS Traffic Chart 
          %small Shows total upload volume in selected time interval
      .panel-body
        .col-xs-8    
          #asn_traffic_chart_0
        .col-xs-4
          #asn_toppers_table_0
            %table.table.table-bordered{style:"font-size:13px"}
              %thead
                %tr
                  %th ASNumber
                  %th Volume
                %tbody
.row
  .col-xs-12
    .panel.panel-warning
      .panel-heading
        %h3
          %i.fa.fa-download.fa-fw 
          Download from AS Traffic Chart 
          %small Shows total download volume in selected time interval
      .panel-body
        .col-xs-8    
          #asn_traffic_chart_1
        .col-xs-4
          #asn_toppers_table_1
            %table.table.table-bordered{style:"font-size:13px"}
              %thead
                %tr
                  %th ASNumber
                  %th Volume
              %tbody



