.row.countryanalytics_form
  .col-12
    .card
      .card-header
        %h5.card-title
          %i.fa.fa-filter.fa-fw
          Filter criteria
      .card-body
        %form.form-dots
          .row
            .col-6
              .row
                .new_time_selector#new_time_selector
          .row
            .col-6
              .row
                %label.col-form-label.col-4 Routers         
                .col-8 
                  %select.form-select#routers{name:'routers'} 
            .col-6
              .row
                %label.col-form-label.col-4 Interfaces 
                .col-8 
                  %select.form-select#interfaces{name:'interfaces'}
          .row.justify-content-center.mt-2
            .col-auto
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Submit"}


.ui_data
  .row.mt-3
    .col-12
      %ul.nav.nav-tabs#isp_country_overview_tabs.tab-card
        %li.nav-item
          %a.nav-link.active{data-bs-target:"#country_overview_0",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-upload.fa-fw
            Upload
            %span.volume_0
        %li.nav-item
          %a.nav-link{data-bs-target:"#country_overview_1",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-download.fa-fw
            Download
            %span.volume_1
      .tab-content
        .tab-pane.active#country_overview_0{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-primary.add_download_btn
                .card-header.bg-primary.d-flex.gap-2.align-items-center.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-table.fa-fw
                    Top Upload Country 
                    %small.text-light Show top 100 Countries to which you are uploading data
                    %span.badge.bg-white.text-primary.fs-6.ms-1.rounded-pill
                  .col-auto.card-options.d-flex.gap-2.justify-content-end
                  .row
                    %p
                      %small.text-light.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                  .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-primary
                .card-header.bg-primary.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small.text-light Showing top countries upload traffic over the selected time period 
                  %p
                    %small.text-light.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-2
            .col-12.donut_chart_div
              .card.border-primary
                .card-header.bg-primary.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of country upload traffic 
                  %p
                    %small.text-light.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart
                  %p 
                    %small.text-light
                      Shows upload traffic flows from the left side (Country) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background

        .tab-pane#country_overview_1{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-table.fa-fw
                    Top Download Country 
                    %small.text-light Show top 100 countries to which you are downloading data
                    %span.badge.bg-white.text-success.fs-6.ms-1.rounded-pill
                  %p
                    %small.text-light.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small.text-light Showing top countries download traffic over the selected time period 
                  %p
                    %small.text-light.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of countries download traffic 
                  %p
                    %small.text-light.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.d-flex.gap-2.align-items-center
                  %h5.card-title.text-white 
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                  %p
                    %small.text-light
                      Shows download traffic flows from the left side (Country) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background

