.row.ui_form
  .col-12
    %form.form-horizontal
      .row
        .col-12
          .row
            %label.col-form-label.col-2 IPs
            .col-10
              %textarea{name:"searchipasn",rows:10}
              %span.form-help Please enter comma(,) seperated ips or one key per line.
      .row.justify-content-center
        .col-auto.align-self-center{style:"padding-top:10px"}
          %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Search"}

.ui_data{style:"padding-top:10px"}
  .row
    .col-12.mt-3
      .card.border-primary
        .card-header.bg-primary.text-white
          %h4
            %i.fa.fa-table.fa-fw 
            Geo lookup   
            %small Showing ASNumber path,country,prefix etc..
        .card-body#geo_lookup
          .animated-background
          %pre.query_geo_output
    .col-12.mt-3
      .card.border-primary
        .card-header.bg-primary.text-white
          %h4
            %i.fa.fa-table.fa-fw 
            BGP lookup   
            %small Showing ASpath,Prefix,AS
        .card-body#bgp_lookup
          .animated-background
          %pre.query_bgp_output
