.drilldown_data_form
  .card
    .card-header
      %h5.card-title
        %i.fa.fa-search
         Search Criteria
    .card-body
        %form.drilldown_country_form.form-dots
          .row
            .col-6
              .row
                .new_time_selector#new_time_selector
            .col-6
              .row
                %label.col-form-label.col-4 Country         
                .col-8 
                  %input{type:"text",class:"form-control",id:"drilldown_country",style:"width:300px"}
          .row.justify-content-center.mt-3
            .col-auto
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Drilldown"}
              
.drilldown_data
  .row.mt-3
    .col-12
      %h5.card-title.text-white.target
      %ul.nav.nav-tabs#country_drilldown_tabs.tab-card
        %li.nav-item
          %a.nav-link.active{data-bs-target:"#country_drilldown_0",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-cloud-upload.fa-fw
            %i.fa.fa-download.fa-fw
            Upload
            %span.volume_0
        %li.nav-item
          %a.nav-link{data-bs-target:"#country_drilldown_1",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-cloud-upload.fa-fw
            %i.fa.fa-upload.fa-fw
            Download
            %span.volume_1
      
        %li.nav-item
          %a.nav-link{data-bs-target:"#country_drilldown_agg",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"}
            %i.fa.fa-table.fa-fw
            Prefixes and Hosts
      .tab-content.mt-3
        .tab-pane.active#country_drilldown_0{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-primary.add_download_btn
                .card-header.bg-primary.d-block
                  .d-flex.justify-content-between.align-items-center
                    %h5.text-white.card-title
                      %i.fa.fa-table.fa-fw
                      Top Interfaces country upload
                      %small.ms-1 Show top 100 interfaces by upload
                      %span.badge.bg-white.text-primary.rounded-pill.fs-6.ms-2
                    .col-auto.card-options.d-flex.gap-2.justify-content-end
                  .row.d-block
                    %p.small.ms-1.target.text-light
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                  .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-primary
                .card-header.bg-primary.d-block
                  .row
                    %h5.card-title.text-white
                      %i.fa.fa-area-chart.fa-fw 
                      Stacked area chart  
                      %small.ms-1 Showing top Interfac uploaded to country
                  .row
                    %small.ms-1.target.text-light
                .card-body
                  .traffic_chart
                  .animated-background
            .row.mt-3
              .col-12.donut_chart_div
                .card.border-primary
                  .card-header.bg-primary.d-block
                    .row
                      %h5.card-title.text-white
                        %i.fa.fa-pie-chart.fa-fw 
                        Percent share of Interface traffic upload
                    .row
                      %small.target.text-light
                  .card-body
                    .donut_chart
                    .animated-background
            .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary.d-block
                  .row
                    %h5.card-title.text-white
                      %i.fa.fa-random.fa-fw
                      Sankey Chart
                  .row
                    %small.text-light
                      Shows receive traffic flows from the left side (AS) to the right (Interfaces). Thickness represents volume of traffic. Put your mouse over a node to show actual values.
                .card-body
                  .interfaces_sankey_chart
                  .animated-background


        .tab-pane#country_drilldown_1{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.d-block
                  .row
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top Country downlaod
                      %small.ms-1 Show top  100 interfaces download from country
                      %span.badge.bg-white.text-success.rounded-pill.fs-6.ms-2
                  .row
                    %small.target.text-light
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.d-block
                  .row
                    %h5.card-title.text-white
                      %i.fa.fa-area-chart.fa-fw 
                      Stacked area chart  
                      %small.ms-1 Showing top interfaces download from country
                  .row
                    %small.target.text-light
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.d-block
                  .row
                    %h5.card-title.text-white
                      %i.fa.fa-pie-chart.fa-fw 
                      Percent share of interfaces download traffic
                  .row
                    %small.target.text-light
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.d-block
                  .row
                    %h5.card-title.text-white
                      %i.fa.fa-random.fa-fw 
                      Sankey Chart 
                  .row
                    %small.text-light
                      Shows download traffic flows from the left side (AS) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .interfaces_sankey_chart
                  .animated-background

        .tab-pane#country_drilldown_agg{data-use-width:1}
            .row.mt-3
              .col-6
                .card.border-success
                  .card-header.bg-success.d-block
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top ASNumbers
                  .card-body
                    .tag_asnumber.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
              .col-6
                .card.border-success
                  .card-header.bg-success.d-block
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top Prefixes
                  .card-body
                    .tag_prefixes.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
            .row.mt-3
              .col-6
                .card.border-success
                  .card-header.bg-success.d-block
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top Internal Hosts
                  .card-body
                    .internal_ip.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody
              .col-6
                .card.border-success
                  .card-header.bg-success.d-block
                    %h5.card-title.text-white
                      %i.fa.fa-table.fa-fw
                      Top External Hosts
                  .card-body
                    .external_ip.animated-background 
                      %table
                        %thead
                          %tr
                            %th Item
                            %th Label
                            %th Flows
                            %th{sort:"volume"} Volume
                        %tbody


