.row.snmpvsnetflow_form
  .col-12
    .card
      .card-header
        %h4 
          %i.fa.fa-filter.fa-fw
          Filter criteria
      .card-body.form-dots
        %form
          .row
            .col-6
              .col-12.nopadding
                .col-12
                  .row.mb-3
                    .new_time_selector#new_time_selector
                .col-12
                  .row.mb-3
                    %label.col-form-label.col-4 Routers         
                    .col-8 
                      %select.form-select#routers{name:'routers'} 

                .col-12
                  .row.mb-3
                    %label.col-form-label.col-4 Show Netflow Only        
                    .col-8 
                      %input#show_netflow_only{type:"checkbox",name:"show_netflow_only"} 

            .col-6
              .row.mb-3
                %label.col-form-label.col-4 Interfaces 
                .col-8 
                  %select.select#interfaces{name:'interfaces',multiple:true}
                  %span.text-danger.chosen_message

            
            
          .row.justify-content-center.mt-3
            .col-auto
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Submit"}
.ui_data.clearfix
.router_details.mt-3
  .card.boder-info.add_download_btn
    .card-header.bg-primary.text-white
      .row
        .col-auto.me-auto
          %h4
        .col-auto.card-options.d-flex.gap-2.justify-content-end
    .card-body
      %dl.row

.netvssnmp.mt-3.row
  .col-6
    .card.border-primary.netflow
      .card-header.bg-primary.text-white
        %h4 
          Netflow
          %small
      .card-body
        .netflow_chart
  .col-6
    .cards.border-success.snmp
      .card-header.bg-success.text-white
          %h4
            SNMP
            %small
      .card-body
        .snmp_chart

