.panel h3 {
	font-size: 20px;
	margin-top:10px;
}

.panel-primary h3 small {
  color:#fff;
}

h3 small{
	font-size: 75%;
}
.panel-heading {
	padding: 5px 15px;
}

.widget-tool{
	float:right;
}

span.badge{
	margin-left: 10px;
	font-size:20px;
}


.panel-heading p{
	margin: 0px;
}
.modal-body h4{
	color:#888;
}
.modal-header h4{
	font-size:20px;
}
.widget .widget-body{
	padding:1px;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -750px 0
  }
  100%{
    background-position: 750px 0
  }
}

.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  height: 100px;
  position: relative;
}