.row.ottanalytics_form
  .col-12
    .card
      .card-header
        %h4 
          %i.fa.fa-filter.fa-fw
          Filter criteria
      .card-body.form-dots
        %form
          .row
            .col-6
              .row
                .new_time_selector#new_time_selector
          .row
            .col-6
              .row 
                %label.control-label.col-4 Routers         
                .col-8 
                  %select.form-select#routers{name:'routers'} 
            .col-6
              .row 
                %label.control-label.col-4 Interfaces 
                .col-8 
                  %select.form-select#interfaces{name:'interfaces'}

          .row.justify-content-center.mt-3
            .col-auto
              %input#from_date{type:"hidden",name:"from_date"}
              %input#to_date{type:"hidden",name:"to_date"}
              %input.btn-submit{id:"btn_submit",name:"commit",type:"submit",value:"Submit"}


.ui_data.mt-3
  .row
    .col-12
      %ul.nav.nav-tabs#isp_ott_apps_tabs
        %li.nav-item
          %a.nav-link.active{data-bs-target:"#ott_apps_overview_0",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-upload.fa-fw
            Upload
            %span.volume_0
        %li.nav-item
          %a.nav-link{data-bs-target:"#ott_apps_overview_1",data-bs-toggle:"tab",role:"tab",href:"javascript:;;"} 
            %i.fa.fa-download.fa-fw
            Download
            %span.volume_1
      .tab-content{style:"padding-top:10px"}
        .tab-pane.active#ott_apps_overview_0{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.card-primary
                .card-header.bg-primary.text-white
                  %h4 
                    %i.fa.fa-table.fa-fw
                    Top Upload OTT Apps 
                    %small Show top 100 OTT Apps to which you are uploading data
                    %span.badge.bg-white.text-primary.rounded-pill.fs-6.ms-2
                  .row
                    %small.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                  .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white
                  %h4
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small Showing top OTT Apps upload traffic over the selected time period 
                  .row
                    %small.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white
                  %h4
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of OTT Apps upload traffic 
                  .row
                    %small.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-primary
                .card-header.bg-primary.text-white
                  %h4 
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small
                      Shows upload traffic flows from the left side (OTT Apps) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background
        .tab-pane#ott_apps_overview_1{data-use-width:1}
          .row.mt-3
            .col-12.toppers_table_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h4 
                    %i.fa.fa-table.fa-fw
                    Top Download OTT Apps 
                    %small Show top 100 OTT Apps to which you are downloading data
                    %span.badge.bg-white.text-success.rounded-pill.fs-6.ms-2
                  .row
                    %small.target
                .card-body
                  .toppers_table
                    %table
                      %thead
                      %tbody
                    .animated-background
          .row.mt-3
            .col-12.traffic_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h4
                    %i.fa.fa-area-chart.fa-fw 
                    Stacked area chart  
                    %small Showing top OTT Apps download traffic over the selected time period 
                  .row
                    %small.target
                   
                .card-body
                  .traffic_chart
                  .animated-background
          .row.mt-3
            .col-12.donut_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h4
                    %i.fa.fa-pie-chart.fa-fw 
                    Percent share of OTT Apps download traffic 
                  .row
                    %small.target
                .card-body
                  .donut_chart
                  .animated-background
          .row.mt-3
            .col-12.sankey_chart_div
              .card.border-success
                .card-header.bg-success.text-white
                  %h4 
                    %i.fa.fa-random.fa-fw 
                    Sankey Chart 
                    %small
                      Shows download traffic flows from the left side (OTT Apps) to the right (ISP routers). Thickness represents volume of traffic. Put your mouse over a node to show actual values. 
                .card-body
                  .sankey_chart
                  .animated-background

